@import 'bootstrap/dist/css/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


:root {
    --main-color: rgb(255, 38, 110);
    --secondary-color: rgb(65, 65, 65);
    --third-color: rgb(255, 255, 255);
  }

.px-6 {
    padding: 5px 60px;
}

html,
body {
  height: 100%;
  background: #dbdbdb;
}

.navbar {
    background: var(--third-color) !important;
    padding: 20px 15px;
}

#logo {
    font-family: 'Oswald', sans-serif !important;
    font-weight: bold !important;
    font-size: 30px;
    color: var(--main-color) !important;
}

nav a {
    color: var(--secondary-color) !important;
}

nav .dropdown-menu a {
    color: black !important;
}

form button {
    border: 1px solid var(--main-color) !important;;
    color: var(--main-color) !important;
}

form button:hover {
    background: var(--main-color) !important;
    color: var(--third-color)!important;
}

.jumbotron {
    background-image: asset-url('jumbo3.jpeg');
    height: 75%;
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
    background-size: cover;
    background-position: center center;
    border-radius: 7px;
    background-blend-mode:darken;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jumbotron p,.jumbotron h1 {
    text-shadow: 0px 2px 10px black;
}

.jumbotron a {
    border: 1px solid var(--third-color);
    background: rgba(0, 0, 0, 0.24);
    font-size: 30px;
}

.jumbotron a:hover {
    border: 1px solid var(--third-color);
    background: var(--third-color);
    color:var(--main-color);
}

#page-content {
  flex: 1 0 auto;
}

#sticy-footer {
    flex-shrink: none;
}

#sticky-footer {
    background: var(--third-color);
}

#sticky-footer small {
    color: var(--secondary-color)
}

#sticky-footer .link{
    color: var(--main-color)
}

.push {
    margin-top: 20px;
}

.profile-card {
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
    background-size: cover;
    margin: auto;
}

.flickr_pagination {
    text-align: center;
    padding: 0.3em;
    cursor: default; }
    .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
      padding: 0.2em 0.5em; }
    .flickr_pagination .disabled {
      color: #aaaaaa; }
    .flickr_pagination .current {
      font-style: normal;
      font-weight: bold;
      color: #ff0084; }
    .flickr_pagination a {
      border: 1px solid var(--main-color) !important;
      padding: 5px 10px !important;
      border-radius: 5px;
      color: var(--main-color);
      text-decoration: none; }
      .flickr_pagination a:hover, .flickr_pagination a:focus {
        background: var(--main-color);
        color: white; }
    .flickr_pagination .page_info {
      color: #aaaaaa;
      padding-top: 0.8em; }
    .flickr_pagination .previous_page, .flickr_pagination .next_page {
      border-width: 2px; }
    .flickr_pagination .previous_page {
      margin-right: 1em; }
    .flickr_pagination .next_page {
      margin-left: 1em; }





