<div class="container" >
  <h1 class="my-3" >Edit category</h1>
  <%= render 'form' %>
  <div class="container text-center my-3">
    <%= link_to '[ Cancel and return to category ]', category_path(@category) %>
  </div>
</div>