<footer id="sticky-footer" class="py-4 text-white">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to "Stephen Filippov"," https://www.instagram.com/stephen_filippov/?hl=da", class: "link"%> </small>
    </div>
</footer>